body{
  background-color: rgb(20, 0, 32);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 720px;
}

#list-box{
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

#form{
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

#list-input{
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 80%;
  font-size: 17px;
}



#newItem-button{
  margin: 0 0 0 5px;
  padding: 9px 15px;
  background-color: rgb(86, 51, 175);
  border: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

#page{
  background-color: rgba(48, 13, 78, 0.342);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
  border-radius: 5px;
}

#date{
  background-color: rgb(89, 0, 172);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: white;
  margin: 13px 0px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#date h1{
  padding: 0px;
  margin: 0px;
  font-size: 25px;
}

.item{
  border-bottom: 1px solid rgb(198, 198, 198);
  padding: 10px 0px;
  font-size: 20px;
}

.item-text:hover{
  cursor: pointer;
  color: grey;
}

.edit-form{
  border-bottom: 1px solid rgb(198, 198, 198);
}

.edit-form input{
  padding: 5px;
  /* border-radius: 5px; */
  border: none;
  width: 70%;
  background-color: rgb(236, 233, 250);
  margin: 5px 0;
  font-size: 20px;
}

.edit-button{ 
  background-color: transparent;
  font-size: 20px;
  border: none;
  padding: 5px 5px 5px 50px;
  float: right;
}
.edit-button:hover{
  cursor: pointer;
  color: skyblue;
  transition: 200ms;
  font-size: 23px;
  padding-left: 47px;
}

.delete-button{
  background-color: transparent;
  border: none;
  padding: 5px;
  color: black;
  float: right;
  font-size: 20px;

}

.delete-button:hover{
  cursor: pointer;
  color: rgba(255, 0, 0, 0.617);
  transition: 200ms;
  font-size: 24px;
  padding: 3px;
}

.cancel-edit-button{
  background-color: transparent;
  border: none;
  padding: 5px 3px 0px 0px;
  color: black;
  float: right;
  font-size: 25px;
}

.cancel-edit-button:hover{
  cursor: pointer;
  font-size: 28px;
  padding: 0px;
  transition: 200ms;
}

.save-edit-button{
  background-color: transparent;
  font-size: 25px;
  border: none;
  padding: 5px 5px 0px 0px;
  color: rgb(0, 148, 0);
  float: right;
}

.save-edit-button:hover{
  cursor: pointer;
  color: rgb(0, 148, 0);
  font-size: 30px;
  padding: 0px;
  transition: 200ms;
}
